All environment variables will be inside this file:
- API_URL
- NEXT_PUBLIC_API_URL
- NEXT_PUBLIC_APP_NAME
- NEXT_PUBLIC_APP_LOGO
- NEXT_PUBLIC_APP_FAVICON
- NEXT_PUBLIC_APP_VERSION
- NEXT_PUBLIC_APP_DESCRIPTION
- NEXT_PUBLIC_APP_KEYWORDS
- NEXT_PUBLIC_APP_AUTHOR
- NEXT_PUBLIC_APP_LICENSE
- NEXT_PUBLIC_APP_URL
- NEXT_PUBLIC_APP_IMAGE
- NEXT_PUBLIC_APP_ICON